<html>
<head>
    <title>E-Shop</title>
    <link rel="stylesheet" href="{{'/resources/css/bootstrap.min.css' | path}}">
    <link rel="stylesheet" href="{{'/resources/css/main.css' | path}}">

    <link rel="icon" href="{{'/resources/img/eshop_icon.png' | path}}">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-3 logo"></div>

            <div class="col-xs-6">
                <div class="search">
                    <div class="input-group has-error">
                        <input type="text" class="form-control" placeholder="Поиск">
                        <span class="input-group-btn">
                            <button class="btn btn-danger glyphicon glyphicon-search" type="button"/>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="cart text-left">
                    <a href="javascript:void(0);" class="yen-bs-count_link">В корзине</a>
                    <strong>0</strong><span> товаров</span><br>
                    <span>на сумму </span><strong>0 тг.</strong>

                    <a href="javascript:void(0);" class="yen-bs-count_link" title="Корзина">
                        <div class="icon"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-group btn-group-justified headerMenu">
                <a href="#" class="btn btn-danger">Главная</a>
                <a href="#" class="btn btn-danger">О компании</a>
                <a href="#" class="btn btn-danger">Оплата и доставка</a>
                <a href="#" class="btn btn-danger">Контакты</a>
                <a href="#" class="btn btn-danger">Прайс-лист</a>
                <a href="#" class="btn btn-danger">Отзывы</a>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        {% block content %}{% endblock %}
    </div>
</div>

<footer>
    <div class="container">
        E-Shop 2015
    </div>
</footer>

<script src="{{'/resources/js/jquery-2.1.4.min.js' | path}}"></script>
<script src="{{'/resources/js/bootstrap.min.js' | path}}"></script>
</body>
</html>

