<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Shop</display-name>
<!--*******************************************************************-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--*******************************************************************-->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--*******************************************************************-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:spring/applicationContext.xml
            classpath:spring/MySQL_DB.xml
            classpath:spring/security.xml
        </param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

<!--*******************************************************************-->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                classpath:spring/mvc.xml
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--400 - Bad Request-->
    <!--401 - Unauthorized-->
    <!--402 - Payment Required-->
    <!--403 - Forbidden-->
    <!--404 - Not Found-->
    <!--405 - Method Not Allowed-->
    <!--406 - Not Acceptable-->
    <!--407 - Proxy Authentication Required-->
    <!--408 - Request Time-out-->
    <!--409 - Conflict-->
    <!--410 - Gone-->
    <!--411 - Length Required-->
    <!--412 - Precondition Failed-->
    <!--413 - Request Entity Too Large-->
    <!--414 - Request-URI Too Large-->
    <!--415 - Unsupported Media Type-->
    <!--416 - Requested range not satisfiable-->
    <!--417 - Expectation Failed-->
    <!--500 - Internal Server Error-->
    <!--501 - Not Implemented-->
    <!--502 - Bad Gateway-->
    <!--503 - Service Unavailable-->
    <!--504 - Gateway Time-out-->
    <!--505 - HTTP Version not supported-->
    <!--Коды статуса в 200x диапазоне(200-299) указывают, что действие, которое было запрошено клиентом было получено, понято, принято и обработано успешно-->
    <!--Коды статуса в 300x диапазоне(300-399) указывают, что клиент долженпринять дополнительные меры для совершения запроса, такие как перенаправление-->
    <!--Коды статуса в 400x диапазоне(400-499) предназначены для случаев, в которых клиент, возможно, допустил ошибку и должен выполнить корректный запрос. Вышеупомянутый 404 является таким примером-->
    <!--Коды статуса в 500x диапазоне(500-599) предназначены для случаев, когда произошла ошибка на сервере, несмотря на правильность запроса-->

    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/500</location>
    </error-page>

</web-app>